div.cell.tb-07-m0.tb-font-s(v-show="(accordions[n].indexOf(doc.index) !== -1)", v-html="doc.properties.description", aid:pstyle="p", aid:table="cell", aid:crows="1", aid:ccols="1", aid5:cellstyle="desc")

div.cell.tb-03-m0(v-show="(accordions[n].indexOf(doc.index) !== -1)", aid:table="cell", aid:crows="1", aid:ccols="1", aid5:cellstyle="imgs")

	a.img(v-if="doc.properties !== undefined", v-for="img in doc.properties.media", v-bind:href="'/list/'+doc._id+'/null'")
		//Imaage(v-if="export", aid:image="image", v-bind:href="'File://'+img.image_abs")
		//img(v-if="!export",  v-bind:src="img.image")
		div.breadcrumbs.tb-font-xxs(v-text="img.caption", aid:pstyle="breadcrumbs", style="position: absolute;")
		//img(v-bind:src="img.image+'?version='+doc.__v", alt="(img.caption !== 'Sample caption' ? img.caption : '' )")
		img(aid:image="image", v-bind:href="'File://'+img.image_abs", style="pointer-events: none;")

