
//
div.cell.tb-07-m0.tb-font-s(v-if="!diff || diff.ind !== doc.index", v-show="(accordions[n].indexOf(doc.index) !== -1)", v-html="doc.properties.description", aid:pstyle="p", aid:table="cell", aid:crows="1", aid:ccols="1", aid5:cellstyle="desc")
	//input(v-bind:id="'diff'+doc.index")
	span(v-html="doc.properties.description")
div.cell.tb-07-m0.tb-font-s(
	v-if="diff && diff.ind === doc.index && doc.properties.diffs.length > 0",
	v-show="(accordions[n].indexOf(doc.index) !== -1)",
	aid:pstyle="p", aid:table="cell", aid:crows="1",
	aid:ccols="1",
	aid5:cellstyle="desc"
	)
	span(v-if="doc.properties.diffs[diff.ind] !== undefined", v-for="part in doc.properties.diffs[diff.ind].dif")
		ins(v-if="part.added", v-html="part.value", style="color: 'green';")
		del(v-else-if="part.removed", v-html="part.value", style="color: 'red';")
		span(v-else-if="part.value", v-html="part.value", style="color: 'grey';")
	
	span(v-if="!doc.properties.diffs[diff.ind]", v-show="(accordions[n].indexOf(doc.index) !== -1)", v-html="doc.properties.description")

div.cell.tb-03-m0(v-show="(accordions[n].indexOf(doc.index) !== -1)", aid:table="cell", aid:crows="1", aid:ccols="1", aid5:cellstyle="imgs")

	a.img(v-if="doc.properties !== undefined", v-for="img in doc.properties.media", v-bind:href="'/list/'+doc._id+'/null'")
		div.breadcrumbs.tb-font-xxs(v-text="img.caption", aid:pstyle="breadcrumbs", style="position: absolute;")
		img(v-bind:src="img.image+'?version='+doc.__v", v-bind:alt="(img.caption !== 'Sample caption' ? img.caption : '' )")

