doctype xml
//
	xsl(:stylesheet, version="1.0"
	xmlns:xsl="http://www.w3.org/1999/XSL/Transform")

	//
	xsl(:template, match="/")
		root
			maintitle
				chapter
					section
						header
							bd
							span
							span
						header
							bd
							span
							span
						xsl(:for-each select="root/maintitle/chapter/section/table")
						Table
							td
							td
							td
							td
root(xmlns:aid="http://ns.adobe.com/AdobeInDesign/5.0/")
	maintitle.centerall
			
		chapter
			section.row
				header.row.tb-font-l Title 
					bd.bd(v-text="data[0].title.ind")
					span(v-text="' '") 
					span(v-text="data[0].title.str")
				header.row.tb-font-l Chapter 
					bd.bd(v-text="data[0].chapter.ind")
					span(v-text="' '")
					span(v-text="data[0].chapter.str")
			
				div.row(v-for="doc in data")
					include entry.pug
				
				




