section(xmlns:aid="", xmlns:aid5="")
	tgroup(cols="1", class="tb-10-m0", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
		colspec(colnum="2", colname="left")
		colspec(colnum="1", colname="right")
		thead
			row
				entry
					header.row.tb-font-l Title 
						bd.bd(v-text="data[0].title.ind")
						span(v-text="' '") 
						span(v-text="data[0].title.str")
		
				entry
					header.row.tb-font-l Chapter 
						bd.bd(v-text="data[0].chapter.ind")
						span(v-text="' '")
						span(v-text="data[0].chapter.str")
		tbody
			row(v-for="doc in data")

				include entry.pug
					
				




