section.headrule(v-for="doc in data", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
	taable(xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/", aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
		include header.pug
		include body.pug
