maintitle.centerall(xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
	chapter(v-if="dat.length > 0", v-for="(data, n) in dat", v-bind:id="n", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
		taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
			celll(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/'")
					header.row.tb-font-l Title 
						bd.bd(v-text="data[0].title.ind")
						span(v-text="' '") 
						span(v-text="data[0].title.str")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/menu/'+data[0].title.ind+'/'+data[0].chapter.ind+''")
					header.row.tb-font-l Chapter 
						bd.bd(v-text="data[0].chapter.ind")
						span(v-text="' '")
						span(v-text="data[0].chapter.str")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a.slidercontainer(v-if="data[0].section.ind === '000'", v-bind:href="'/list/'+data[0]._id+'/null'", style="position:relative;height:auto;width:100%;")
					img(style="width:100%;height:auto;margin-top:20px;position:relative;z-index:0;display:block;", v-bind:src="data[0].properties.media[0].image")
		section.headline.headrule(v-for="(doc, i) in data", v-if="doc.section.ind !== '000'", v-bind:id="doc.section.ind", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/", style="margin-top: 15px; position:relative;")
			a.accordion(v-on:click="accordion(n, doc.index)", style="pointer-events: auto; width: 100%; height: 100%; position: absolute;display:table-cell;vertical-align:bottom;")
				div.ui(style="width: 23px; top:35px;position:absolute;display:block;padding-top:5px;")
					svg(v-bind:style="(accordions[n].indexOf(doc.index) !== -1 ? {transform: 'rotate(180deg)'} : {transform: 'rotate(0deg)'})", xmlns="http://www.w3.org/2000/svg", viewBox="0 0 448 512")
						path(d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z")
			taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry", style="position:relative;")
				
				include header.pug
				include body.pug
