
p(v-if="doc.properties.title.str !== 'Geography' && mapActive")
	include mapedit.pug
div.maintitle.centerall(v-cloak, :style="{'pointer-events':(mapActive? 'none' : 'auto')}")
	//- div.dropdown.static(style="margin: 0 auto; bottom:0; top:auto;z-index:2; position:absolute;pointer-events:all;")
	//- && pu && pu !== '' && pu.admin
	div#inputs(v-if="(pu && pu !== '' && pu.properties.admin && type !== 'draw')", style="z-index:1;")
		button.mapActive(v-if="!mapActive && loggedin && loggedin !== ''", v-on:click="activateMap()",
			:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right: (((wWidth/3) - 50)+45)+'px', left: 'auto', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}"
			)
			span Edit Map
		
		button.success.mapActive(v-else-if="(mapActive && loggedin && loggedin !== '' && pu && pu.properties.admin)", class= mn, v-on:click="addMapBlob()",
			:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:'auto', left: '45px', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}")
			span(v-text="'Save Map Snapshot'")
	
	div#inputs(v-else-if="((!loggedin || loggedin === '' || !pu || !pu.properties.admin) && type !== 'draw')")
		button.mapActive(v-if="!mapActive", v-on:click="activateMap()",
			:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:'auto', left: '45px', width: (wWidth * .66)+'px', 'text-align':'center', 'z-index':1}"
			)
			span Make Map clickable
	button.success.mapActive(@click="initSig", title="Sign", v-if="(signable && doc && pu && pu.username === loggedin && unsigned && ts.length === 0 && doc.properties.title.str !== 'Geography' && doc.properties.title.str !== 'Environmental Impact Statement')",
		:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:'auto', left: '45px', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}"
		)
		span(v-text="(type === 'draw' ? 'Done signing' : 'Sign to indicate support')")
	button.success.mapActive(v-if="(signable && doc && pu && pu.username === loggedin && unsigned && ts.length > 0)", href="#", title="Save", id="save", aria-labelledby="continue", 
		@click="saveSignature()"
		:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:'auto', left: '45px', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}"
		)
		span(v-text="'Save signature'")
	button.danger.mapActive(v-if="(mapActive && (loggedin && loggedin !== '') && (pu && pu !== ''))", class= mn, v-on:click="activateMap()",
		:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:(((wWidth/3) - 50)+45)+'px', left: 'auto', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}"
		)
		span(v-text="'Cancel'")
		

	
	button.danger.mapActive(v-if="(mapActive && (!loggedin || loggedin === ''))", class= mn, v-on:click="activateMap()",
		:style="{'pointer-events': 'all', position: 'fixed', bottom: '3px', right:(((wWidth/3) - 50)+45)+'px', left: 'auto', width: ((wWidth/3) - 50)+'px', 'text-align':'center', 'z-index':1}")
		span(v-text="'Cancel'")
	div.chapter
		section.row(v-if="doc")
			a(v-bind:href="'/'", style="pointer-events:all;")
				div.table(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
					div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head", style="display:block;")
						header.row.tb-font-l Title 
							span.bd(v-text="(parseInt(doc.properties.title.ind,10)+1)")
							span(v-text="' '") 
							span(v-text="doc.properties.title.str")
					div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head", style="display:block;")
						header.row.tb-font-l Chapter 
							span.bd(v-text="(parseInt(doc.properties.chapter.ind,10)+1)")
							span(v-text="' '")
							span(v-text="doc.properties.chapter.str")
			div.row(v-if="(!loggedin || loggedin === '') || (!pu || !pu.properties.admin)")
				include header.pug
				include bodysingle.pug
				p.tb-font-m(v-text="'External document'")
				include gpo/xml.pug
				

			div.row(v-if="edit === doc.index && loggedin && loggedin !=='' && pu && pu.properties.admin", style="padding-top:20px;")
				form.row.form.headrule(v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					input(type="hidden", name="_csrf", value= csrfToken)
					include editor.pug
					p.tb-font-m(v-text="'External document'")
					include gpo/xml.pug

	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px"
		,
		v-bind:viewBox="'0 0 ' + wWidth +' '+ (wHeight)", v-bind:style="{'enable-background':'new 0 0 ' + wWidth + ' ' + (wHeight) +'', 'display': 'block', 'margin': '0 auto'}", xml:space="preserve"
		, 
		v-bind:width="wWidth +'px'",
		v-bind:height="(wHeight)+'px'",
		style="position:absolute;top:0;pointer-events:fill;display:inline-block;left:0;z-index:-1;"
		)
		//
			defs
				clipPath#myPath(fill="none", clipPathUnits="objectBoundingBox")
					path#path(v-bind:d="dPath", fill="none")
				use(clip-path="url(#myPath)", xlink:href="#path")
		path(style="pointer-events: all; overflow-y: scroll;", v-bind:d="'M0,0v'+(wHeight)+'h'+wWidth+'V0H0L0,0z'", fill="var(--primary)")

div#viewer(v-if="edit === doc.index", style="position:absolute;pointer-events: none;")
	div.viewerlist(v-if="geo.length", :style="{'pointer-events':'all',left: (wWidth / 2) + 'px',bottom:(wHeight / 2) + 'px'}")
		p(v-text="(geo.length)+' nearby:'")
		ul
			//, @click="accordion(g, null, $event)"
			//v-if="accordions[g]", 
			li(v-for="(go, g) in geo", v-text="go.properties.SITENAME")
				p(v-text="go.properties.PROJDESC")
	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",
		v-bind:viewBox="'0 0 ' + wWidth +' '+ wHeight", v-bind:style="{'position': 'relative','enable-background':'new 0 0 ' + wWidth + ' ' + wHeight +'', 'display': 'block', 'margin': '0 auto', 'pointer-events':'none'}", xml:space="preserve"
		, 
		v-bind:width="wWidth +'px'",
		v-bind:height="wHeight+'px'",
		style="pointer-events: none;"
		)
		//
			defs
				clipPath#myPath(fill="none", clipPathUnits="objectBoundingBox")
					path#path(v-bind:d="dPath", fill="none")
				use(clip-path="url(#myPath)", xlink:href="#path")
		path(v-bind:style="{'pointer-events':'all'}", v-bind:d="dPath", fill="var(--primary)")
	
	table(width="100%", height="100%", v-if="doc && pu && pu.username === loggedin && type === 'draw'", style="position:fixed;top:0;background-color:var(--primary);")
		tr
			td
				div.row(style="text-align:center;")
					p.tb-10-m0 Sign Here 
					
				canvasc(
					@update="(val, ts, can) => setSigData(0, val, ts, can)"
					
				)
