maintitle.centerall
		
	chapter
		section.row
			a(v-bind:href="'/'")
				taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
					celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
						header.row.tb-font-l Title 
							bd.bd(v-text="doc.title.ind")
							span(v-text="' '") 
							span(v-text="doc.title.str")
					celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
						header.row.tb-font-l Chapter 
							bd.bd(v-text="doc.chapter.ind")
							span(v-text="' '")
							span(v-text="doc.chapter.str")
			div.row(v-if="edit === null")
				include header.pug
				include body.pug
			div.row(v-else-if="edit === doc.index")
				form.row.form.headrule(v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					//form.row.form(v-if="edit === dindexes.indexOf(doc.index)", v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					input(type="hidden", name="_csrf", value= csrfToken)
					include editor.pug
