

maintitle.centerall(style="clip-path: url(#myPath);pointer-events:visiblePoint;")
	div.dropdown.static(style="margin: 0 auto; bottom:0; top:auto;z-index:2; position:absolute;")
		a.submenu.drop.static(v-on:click="document.getElementById('viewer').scrollIntoView();$('div.centerallwrap').css('pointer-events', 'unset');")
			span Edit Map
	chapter
		section.row
			a(v-bind:href="'/'")
				taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
					celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
						header.row.tb-font-l Title 
							bd.bd(v-text="(parseInt(doc.properties.title.ind,10)+1)")
							span(v-text="' '") 
							span(v-text="doc.properties.title.str")
					celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
						header.row.tb-font-l Chapter 
							bd.bd(v-text="(parseInt(doc.properties.chapter.ind,10)+1)")
							span(v-text="' '")
							span(v-text="doc.properties.chapter.str")
			div.row(v-if="edit === null")
				include header.pug
				include body.pug
			div.row(v-else-if="edit === doc.index", style="padding-top:20px;")
				form.row.form.headrule(v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					//form.row.form(v-if="edit === dindexes.indexOf(doc.index)", v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					input(type="hidden", name="_csrf", value= csrfToken)
					include editor.pug

div#viewer(v-if="edit === doc.index", style="position:absolute;pointer-events: none;")
	
	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px"
		,
		v-bind:viewBox="'0 0 ' + wWidth +' '+ wHeight", v-bind:style="{'position': 'relative','enable-background':'new 0 0 ' + wWidth + ' ' + wHeight +'', 'display': 'block', 'margin': '0 auto', 'pointer-events':'none'}", xml:space="preserve"
		, 
		v-bind:width="wWidth +'px'",
		v-bind:height="wHeight+'px'",
		style="pointer-events: none;"
		)
		//
			defs
				clipPath#myPath(fill="none", clipPathUnits="objectBoundingBox")
					path#path(v-bind:d="dPath", fill="none")
				use(clip-path="url(#myPath)", xlink:href="#path")
		path(v-bind:style="{'pointer-events':'all'}", v-bind:d="dPath", fill="var(--primary)")

