div.tb-10-m0
	//div(style="visibility: hidden;")
	input(:id="'inputthumb'+img.index", :name="'thumb'+img.index", :value="img.thumb", type="hidden")
	input(:id="'inputimg'+img.index", :name="'img'+img.index", :value="img.image", type="hidden")
	input(:id="'orientation'+img.index", :name="'orientation'+img.index", :value="img.orientation", type="hidden")
	canvas(:id="'canvas'+img.index", style="display: none;")
	img(:id="'return'+img.index", :src="img.image+'?version='+Math.random(100).toFixed(1)", style="display:none;")
	//input(class="featuredimg", :id="'featured'+img.index", :name="'img'+img.index+'_featured'", :value="img.featured", type="hidden")

	//- div.row
	//- 	div.tb-04-m0.tb-02-m3
	//- 
	//- 
	//- 	div.tb-06-m0.tb-08-m3
	//- 		div.row
	//- 			//- label(:for="'img'+img.index+'_name'") Image Title
	//- 			input.tb-font-s(type="text", :name="'img'+img.index+'_name'", :id="'img'+img.index+'_name'", :value="img.name" disabled)
	div.row
		div.tb-10-m0.tb-02-m3
			div.row(style="height: auto;")
				span.img(:id="img.index", :name="doc._id", style="height:150px;")
					img(:id="'view'+img.index", :src="img.image+'?version='+Math.random(100).toFixed(1)")
			
		div.tb-10-m0.tb-06-m3.shift-00
			div.row
				label(:for="'img'+img.index+'_caption'") Image Caption
				textarea.tb-font-s(type="text", :name="'img'+img.index+'_caption'", :id="'img'+img.index+'_caption'", v-text="img.caption")
				//label(:for="'img'+img.index+'_postscript'") Caption postscript
				//input(type="text", :name="'img'+img.index+'_postscript'", :id="'img'+img.index+'_postscript'", value="img.postscript")
		div.tb-10-m0.tb-02-m3.shift-00
			div.row
				//- div.tb-10-m0
				label.block(for="media") Switch out image:
				input.block.spacer.success(:id="'media_'+img.index", @change="handleFile(doc._id,img.index)", :class="'editmedia@'+img.index", type="file", style="padding: 18px;color:#fff;")
				//- div.tb-10-m0
				label.block(:for="'deletemedia_'+img.index")
				a.danger.block.spacer(role="button", @click="deleteMedia(img.index)", :id="'deletemedia_'+img.index")
					span Delete Media
	div.row
		hr