div.row.tb-font-m
	sectionnum.bd(v-text="(doc.title.ind)+'.'+(doc.chapter.ind)+'.'+(doc.section.ind)+''")
	span(v-text="' '")
	div#title(v-text="doc.section.str")

p(style="margin-top:20px;")
	label.tb-10-m0(v-if="edit === doc.index", for="description") Edit Section:
	description.tb-10-m0.tb-font-s#description(v-html="doc.properties.description", style="border-bottom: 1px solid #e1e1e1;")
p
	div.row.spacer(

		v-for="(img, j) in doc.properties.media"
		)
		include editmedia.pug
	//div.row.spacer#appendmedia(v-if="j")
	a.success.block.spacer.tb-03-m0(role="button", v-on:click="addNewMedia(doc._id, doc.properties.media.length)")
		span Add image
	
div(style="visibility: hidden;")
//input#lat(v-bind:value="doc.geometry.coordinates[1]", name="lat", type="hidden")
//input#lng(v-bind:value="doc.geometry.coordinates[0]", name="lng", type="hidden")
input.block#latlng(v-bind:value="JSON.stringify(doc.geometry.coordinates)", name="latlng", style="width: 100%", type="hidden")
div.row
	a.danger.block.spacer.tb-10-m0.tb-03-m2(v-on:click="deleteEntry(doc)", role="button", style="float:left;box-sizing:border-box;")
		span Delete entry
	a.block.spacer.tb-10-m0.tb-01-m2(v-bind:href="'/'", role="button", style="float:right; border:2px solid #000; margin-left: 20px;")
		span Cancel
	button.block.success.spacer.tb-10-m0.tb-03-m2(v-if="edit === doc.index", role="submit", v-bind:id="'submit_'+dindex", style="float:right;")
		span Finished editing

p
	label(for="importcsv") Import Geographic Data (experimental)
input#importcsv(v-on:change="importCsv", type="file", value="Import CSV")
