//doctype xml
maintitle.centerall(style="display: block")
		
	chapter
		section.row(v-for="doc in data")
			form.tb-10-m0.form(v-bind:id="'form_'+dindex", enctype="multipart/form-data", method="POST", action="/api/editcontent/"+doc._id+"", name="editform")
				input(type="hidden", name="_csrf", value= csrfToken)

				span.bd Title 
				titlenum.bd(v-text="doc.title.ind + 1")
				span(v-text="' '") 
				titlename(v-text="doc.title.str")
				span.bd Chapter 
				chapternum.bd(v-text="doc.chapter.ind + 1")
				span(v-text="' '")
				chaptername(v-text="doc.chapter.str")

				sectionnum.bd(v-text="(doc.title.ind + 1)+'.'+(doc.chapter.ind + 1)+'.'+(doc.section.ind + 1)")
				span(v-text="' '")
				sectionname(v-text="doc.section.str")
				label.tb-10-m0(v-if="edit === dindexes.indexOf(doc.index)", for="place") Place
				input(v-if="edit === dindexes.indexOf(doc.index)", v-bind:value="doc.properties.place", type="text", name="place")
				place.tb-10-m0.tb-font-s(v-if="!edit", v-text="doc.properties.place")
				label.tb-10-m0(v-if="edit === dindexes.indexOf(doc.index)", v-on:click="toggleEdit(dindexes.indexOf(doc.index))", for="description") Description
				textarea#layouttext(v-if="edit === dindexes.indexOf(doc.index)", v-text="doc.properties.description", name="description")
				description.tb-10-m0(v-if="!edit", v-on:click="toggleEdit(dindexes.indexOf(doc.index))", v-html="marked(doc.properties.description)")

				rss(version="1.0", xmlns:content="http://purl.org/rss/1.0/modules/content/", xmlns:atom="http://www.w3.org/2005/Atom" )
					channel.tb-font-xxs
						title(v-if="!edit", v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
						link(v-if="!edit", v-bind:href="'http://"+appURL+"'", rel="self")
						description(v-if="!edit", v-text="doc.chapter.str")
						ttl(v-text="60")
						item.row(v-for="img in doc.properties.media")
							include editmedia.pug
							img.tb-10-m0(v-bind:href="img.image_abs", style="height:100px", v-bind:src="img.image")
							//
								image
									title(v-if="!edit", v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
									link(v-if="!edit", v-bind:href="'http://"+appURL+"'", rel="self")
									url(v-text="'file://'+img.image")
									width(v-text="100")
									height(v-text="100")
									description(v-text="img.caption")
						
				coord.tb-font-xxs.bd(v-text="doc.geometry.coordinates.toString()")
				hr
				a.block(v-if="edit === dindexes.indexOf(doc.index)", role="button", v-bind:id="'submit_'+dindex", v-on:click="submitForm(dindexes.indexOf(doc.index))")
					span Finished editing