a.row.tb-font-l(v-bind:href="'/list/'+doc._id+'/'+null+''")
	sectionnum.bd(v-text="(doc.title.ind)+'.'+(doc.chapter.ind)+'.'+(doc.section.ind)+''")
	span(v-text="' '")
	sectionname(v-text="doc.section.str")

label.tb-10-m0(v-if="edit === dindexes.indexOf(doc.index)", v-on:click="toggleEdit(dindexes.indexOf(doc.index))", for="description") Description
//textarea#layouttext(v-if="edit === dindexes.indexOf(doc.index)", v-text="marked(doc.properties.description)", name="description")

div.row.spacer(

	v-for="(img, i) in doc.properties.media"
	)
	include editmedia.pug

p
	label(for="importcsv") Import Geographic Data
input#importcsv(v-on:change="importCsv", type="file", value="Import CSV")

a.block(v-if="edit === dindexes.indexOf(doc.index)", role="button", v-bind:id="'submit_'+dindex", v-on:click="submitForm(dindexes.indexOf(doc.index))")
	span Finished editing
