div.row.tb-font-m
	div.sectionnum.bd(v-text="(parseInt(doc.properties.title.ind,10)+1)+'.'+(parseInt(doc.properties.chapter.ind,10)+1)+'.'+(parseInt(doc.properties.section.ind,10)+1)+''")
	span(v-text="' '")
	div#title(v-text="doc.properties.section.str")

p(style="margin-top:20px;")
	label.tb-10-m0(v-if="edit === doc.index", for="label") Document label:
	input#label.tb-font-s(type="text", name="label", :value="doc.properties.label")
p
	label.tb-10-m0(v-if="edit === doc.index", for="description") Document description:
	div.description.tb-10-m0#description(v-html="doc.properties.description", style="border-bottom: 1px solid #e1e1e1;")
p(v-if="doc.properties.footnotes", v-for="(foot, k) in doc.properties.footnotes")
	label(v-bind:for="'footnote'+k+''", v-text="'Footnote #'+ (k+1)")
	input.tb-font-s(type="text", v-bind:name="'footnote'+k+''", v-bind:id="'footnote'+k+''", v-bind:value="foot")
p
	div.row.spacer(

		v-for="(img, j) in doc.properties.media"
		)
		include editmedia.pug
	//div.row.spacer#appendmedia(v-if="j")
	a.success.block.spacer.tb-03-m0(role="button", v-on:click="addNewMedia(doc._id, doc.properties.media.length)")
		span Add image
	a.success.block.spacer.tb-03-m0(role="button", v-on:click="getLayers(doc._id)")
		span Add Geodata
	input.block.spacer.success.tb-07-m0(v-bind:id="'lyr_'+doc._id", v-on:change="handleGeoJson($event)", type="file", style="padding: 18px;color:#fff;")

hr
div(style="visibility: hidden;")
input.block#latlng(v-bind:value="JSON.stringify(doc.geometry.coordinates)", name="latlng", style="width: 100%", type="hidden")
div.row
	a.danger.block.spacer.tb-10-m0.tb-03-m2(v-on:click="deleteEntry(doc)", role="button", style="float:left;box-sizing:border-box;")
		span Delete entry
	a.block.spacer.tb-10-m0.tb-01-m2(v-bind:href="'/'", role="button", style="float:right; border:2px solid #000; margin-left: 20px;")
		span Cancel
	button.block.success.spacer.tb-10-m0.tb-03-m2(v-if="edit === doc.index", role="submit", v-bind:id="'submit_'+dindex", style="float:right;")
		span Finished editing

//- p
//- 	label(for="importcsv") Import Geographic Data (experimental)
//- input#importcsv(v-on:change="importCsv", type="file", value="Import CSV")
