a.row.tb-font-l(v-bind:href="'/list/'+doc._id+'/'+null+''")
	sectionnum.bd(v-text="(doc.title.ind)+'.'+(doc.chapter.ind)+'.'+(doc.section.ind)+''")
	span(v-text="' '")
	sectionname(v-text="doc.section.str")

p
	label.tb-10-m0(v-if="edit === doc.index", for="description") Description
	description.tb-10-m0#description(v-html="marked(doc.properties.description)")
p
	div.row.spacer(

		v-for="(img, i) in doc.properties.media"
		)
		include editmedia.pug

p
	label(for="importcsv") Import Geographic Data
input#importcsv(v-on:change="importCsv", type="file", value="Import CSV")
div(style="visibility: hidden;")
	input#lat(v-bind:value="position.lat", name="lat")
	input#lng(v-bind:value="position.lng", name="lng")
button.block(v-if="edit === doc.index", role="submit", v-bind:id="'submit_'+dindex")
	span Finished editing
