div.maintitle(style="display: block; background-color: #fff; background-color: var(--primary);padding: 45px; pointer-events: auto;")
		
	div.chapter
		section.row
			p.row.tb-font-xl Title 
				titlenum.bd(v-text="(parseInt(doc.properties.title.ind,10)+1)")
				span(v-text="' '") 
				titlename.bd(v-text="doc.properties.title.str")
			p.row.tb-font-xl Chapter 
				div.chapternum.bd(v-text="(parseInt(doc.properties.chapter.ind,10)+1)")
				span(v-text="' '")
				div.chaptername.bd(v-text="doc.properties.chapter.str")
			hr

			div.tb-10-m0(v-if="edit === null")
				include entry.pug
				div.description.tb-10-m0.tb-font-s#description(v-html="marked(doc.properties.description)")

			div.tb-10-m0(v-if="doc && doc !== '' && edit === doc.index")
				
				form.tb-10-m0.form.headrule(v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					input(type="hidden", name="_csrf", value= csrfToken)
					label(for="title") Edit Section Title
					input#title(name="title", v-bind:value="doc.propeties.title")
					include editor.pug
				

			//-
				form.tb-10-m0.form(v-for="doc in data", v-if="edit === dindexes.indexOf(doc.index)", v-bind:id="'form_'+dindexes.indexOf(doc.index)", enctype="multipart/form-data", method="POST", v-bind:action="'/api/editcontent/'+doc._id", name="editform")
					input(type="hidden", name="_csrf", value= csrfToken)
					include editor.pug

div(v-if="edit === dindexes.indexOf(doc.index)", style="position:absolute;")
	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px"
		,
		v-bind:viewBox="'0 0 ' + wWidth +' '+ wHeight", v-bind:style="{'position': 'relative','enable-background':'new 0 0 ' + wWidth + ' ' + wHeight +'', 'display': 'block', 'margin': '0 auto'}", xml:space="preserve"
		, 
		v-bind:width="wWidth +'px'",
		v-bind:height="wHeight+'px'"
		)
		path(v-bind:style="{'pointer-events':'all'}", v-bind:d="dPath", fill="var(--primary)")



