
a.tb-11-m0.tb-font-l(v-bind:href="'/list/'+doc._id+'/null'")
	sectionnum.bd(v-text="doc.title.ind+'.'+doc.chapter.ind+'.'+doc.section.ind")
	span(v-text="' '")
	sectionname(v-text="doc.section.str")

	rss(version="1.0", xmlns:content="http://purl.org/rss/1.0/modules/content/", xmlns:atom="http://www.w3.org/2005/Atom" )
		channel.row
			title.tb-font-xxs(v-on:click="window.location.href = 'http://"+appURL+"'", v-if="edit === null", v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
			span.tb-font-xxs &nbsp > &nbsp
			link(v-if="edit === null", v-bind:href="'http://"+appURL+"'", rel="self")
			description.tb-font-xxs(v-if="edit === null", v-text="doc.chapter.str")
			item.tb-11-m0(

				v-for="img in doc.properties.media"
				)
				image.tb-10-m0(v-bind:href="'file://'+img.image_abs", style="display: none;")



description.tb-08-m0#description(v-html="marked(doc.properties.description)")
img.tb-02-m0(v-if="doc.properties.media.length > 0", v-for="img in doc.properties.media", style="height:100px; width: auto;", v-bind:src="img.image")
textarea(v-text="doc.properties.description")