maintitle.centerall(xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
	//
		chapter(v-for="(data, n) in dat", v-bind:id="n", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
			taable(aid:table="table", v-bind:aid:trows="data.length" aid:tcols="2", aid5:tablestyle="entry")
				celll(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
					a(v-for="(doc, i) in data", v-bind:href="'/menu/'+doc.properties.title.ind+'/'+doc.properties.chapter.ind+''")
						bd.bd(v-text="doc.properties.title.str")
						span(v-text="' '")
						pg.bd(v-text="'##'")
	chapter(v-for="(data, n) in dat", v-bind:id="n", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
		taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
			celll(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/'")
					header.row.tb-font-l Title 
						bd.bd(v-text="(parseInt(data[0].properties.title.ind,10)+1)")
						span(v-text="' '") 
						span(v-text="data[0].properties.title.str")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/menu/'+data[0].properties.title.ind+'/'+data[0].properties.chapter.ind+''")
					header.row.tb-font-l Chapter 
						bd.bd(v-text="(parseInt(data[0].properties.chapter.ind,10)+1)")
						span(v-text="' '")
						span(v-text="data[0].properties.chapter.str")
			celll(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
		section.headline.headrule(v-for="(doc, i) in data", v-on:click="accordion(n, doc.index)", v-bind:id="doc.properties.section.ind", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/", style="margin-top: 15px;")
			taable(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
				include header.pug
				include bodyexport.pug
