div.maintitle.centerall(xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
	
	a.tb-06-m0.block.success(v-on:click="exportPDF", role="button", title="Download PDF File") Click here to download PDF File
	div.tb-01-m0 &nbsp
	a.tb-03-m0.block.danger(role="button", href="/exportpdf", title="Page blank -- reload")
		span Blank page? Click to reload
	
	
	header.row.tb-font-l Table of Contents
	div.chapter.row(v-for="(data, n) in dat", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
		div.table.row(aid:table="table", v-bind:aid:trows="data.length" aid:tcols="2", aid5:tablestyle="entry", style="width: 100%;")
			div.cell(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'#'+n+''")
					header.row.tb-font-s
						span.bd(v-text="(parseInt(data[0].properties.title.ind,10)+1)")
						span.bd(v-text="'.'")
						span.bd(v-text="(parseInt(data[0].properties.chapter.ind,10)+1)")
						span(v-text="' '")
						span(v-text="data[0].properties.chapter.str")
	
		div.table.row(v-for="(doc, i) in data", aid:table="table", v-bind:aid:trows="data.length" aid:tcols="2", aid5:tablestyle="entry", style="width:100%;")
			div.cell(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'#'+n+''")
					header.row.tb-font-s
						span.bd(v-text="(parseInt(doc.properties.title.ind,10)+1)")
						span.bd(v-text="'.'")
						span.bd(v-text="(parseInt(doc.properties.chapter.ind,10)+1)")
						span.bd(v-text="'.'")
						span.bd(v-text="(parseInt(doc.properties.section.ind,10)+1)")
						span(v-text="' '")
						span(v-text="doc.properties.section.str")

	hr
	div.chapter(v-for="(data, n) in dat", v-bind:id="n", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
		div.table(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
			div.cell(v-on:click="navigateTo('/')", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/'")
					header.row.tb-font-l Title 
						span.bd(v-text="(parseInt(data[0].properties.title.ind,10)+1)")
						span(v-text="' '") 
						span(v-text="data[0].properties.title.str")
			div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
			div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
				a(v-bind:href="'/menu/'+data[0].properties.title.ind+'/'+data[0].properties.chapter.ind+''")
					header.row.tb-font-l Chapter 
						span.bd(v-text="(parseInt(data[0].properties.chapter.ind,10)+1)")
						span(v-text="' '")
						span(v-text="data[0].properties.chapter.str")
			div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
		section.headline.headrule(v-for="(doc, i) in data", v-on:click="accordion(n, doc.index)", v-bind:id="doc.properties.section.ind", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/", style="margin-top: 15px;")
			div.table(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
				include header.pug
				include bodyexport.pug

