celll.tb-07-m0.tb-font-l(aid:cellstyle="head")
	a(v-on:click="accordion(dindexes.indexOf(doc.index))", aid:pstyle="header")
		bd.bd(v-if="doc.title !== undefined", v-text="doc.title.ind+'.'+doc.chapter.ind+'.'+doc.section.ind", aid:cstyle="bold")
		span(v-text="' '")
		span(v-text="doc.section.str")
celll.tb-03-m0(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="bread")
	breadcrumbs(v-if="doc.properties !== undefined", aid:pstyle="bread")
		a(v-bind:href="'/menu/'+doc.title.ind+'/'+null+''")
			span.tb-font-xxs(v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
		span(v-text="' > '")
		a(v-bind:href="'/menu/'+doc.title.ind+'/'+doc.chapter.ind+''")
			span.tb-font-xxs(v-text="doc.chapter.str")
		span(v-text="' > '")
		a(v-bind:href="'/list/'+doc._id+'/null'")
			span.tb-font-xxs(v-text="doc.section.str")
