celll.tb-11-m0.tb-07-m1.tb-font-m(aid5:cellstyle="head")
	a.href(v-bind:href="'/list/'+doc._id+'/null'", aid:pstyle="header", style="display:block;padding:0 0 0 105px;text-indent:-105px;")
		bd.bd(v-if="doc.properties.title !== undefined", v-text="(parseInt(doc.properties.title.ind,10)+1)+'.'+(parseInt(doc.properties.chapter.ind,10)+1)+'.'+(parseInt(doc.properties.section.ind,10)+1)", aid:cstyle="bold", style="width: 100px;display:inline-block;text-indent:0;")
		span(v-text="' '")
		span(v-html="doc.properties.section.str")
celll.tb-11-m0.tb-03-m1(aid:table="cell", aid:crows="1", aid:ccols="1", aid5:cellstyle="bread")
	breadcrumbs(v-if="doc.properties !== undefined")
		a(v-bind:href="'/menu/'+doc.properties.title.ind+'/'+null+''")
			span.tb-font-xxs(v-bind:style="{display:'inline-block'}", v-text="doc.properties.title.str")
		span.tb-font-xxs(v-text="' > '")
		a(v-bind:href="'/menu/'+doc.properties.title.ind+'/'+doc.properties.chapter.ind+''")
			span.tb-font-xxs(v-text="doc.properties.chapter.str")
		span.tb-font-xxs(v-text="' > '")
		a(v-bind:href="'/list/'+doc._id+'/null'")
			span.tb-font-xxs(v-text="doc.properties.section.str")
