entry.tb-07-m0.tb-font-l(v-bind:href="'/list/'+doc._id+'/null'", aid:cellstyle="head")
	a(v-bind:href="'/list/'+doc._id+'/null'", aid:pstyle="header")
		bd.bd(v-if="doc.title !== undefined", v-text="doc.title.ind+'.'+doc.chapter.ind+'.'+doc.section.ind", aid:cstyle="bold")
		span(v-text="' '")
		span(v-text="doc.section.str")
entry.tb-03-m0(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="bread")
	breadcrumbs(v-if="doc.properties !== undefined", aid:pstyle="bread")
		a(v-bind:href="'/'")
			span.tb-font-xxs(v-on:click="window.location.href = 'http://"+appURL+"'", v-bind:style="{display:'inline-block'}", v-text="doc.title.str")
				span(v-text="' '")
				span(v-text="doc.chapter.str")
