fieldset.lcontrol(style="padding:0;border:none;", v-cloak, v-if="mapReady && mapActive")
	
	legend(style="font-size: 11px;") layers
	div.layer(v-for="(layer, o) in layers", :class="mapCtrl ? 'ctrl' : ''")
		//- @mouseover="mapCtrl = true", @touchstart="mapCtrl = true", 
		//- @mouseleave="mapCtrl = false", @touchend="mapCtrl = false"
		//- @click="subDropdown($event)", 
		a.layerDrop(style="display: flex;"
			)
			.ui(@click="switchMapCtrl",
				style="min-width:45px;min-width:var(--thumbw);margin:0;")

				img(:src="(!layer.properties.media[layer.properties.media.length - 1] || !layer.properties.media[layer.properties.media.length - 1].thumb || layer.properties.media[layer.properties.media.length - 1].thumb === '' ? (!layer.properties.media[0] ? '/images/publish_logo_sq.svg' : layer.properties.media[0].thumb) : layer.properties.media[layer.properties.media.length - 1].thumb)+'?version='+Math.random()", style="pointer-events: none;")
			
			input(type="checkbox", :value="layer._id", :id="'layer_'+o", v-text="layer.properties.label", style="position:absolute;right:0", @click="changeLayers(layer._id, $event)", :checked="(doc.properties.layers.map(function(item){return item.lid}).indexOf(layer._id) !== -1)")
			span.row(v-for="(style, k) in doc.properties.layers", v-if="style.lid === layer._id && mapCtrl")
				span.tb-10-m0.tb-font-s(v-text="layer.properties.label", style="padding-right: 15px; padding-left: 8px;")
				span.tb-10-m0
					span.row
						span.tb-08-m0
							//- label.tb-10-m0(style="font-size: 9px;margin-top:10px;pointer-events: none;", for="key") field
							//- v-model="style.key" 
							select#key.tb-10-m0(@change="changeAttribute(layer._id, $event)", :value="style.key", style="margin:0;")
								option(v-for="(item,l) in layer.properties.keys", v-if="!isNaN(parseFloat(json[style.lid].features[0].properties[item])) && exclude.indexOf(item) === -1" v-text="item.replace(/^r_/, '').replace(/^el_/, '').split('_').join(' ')", :value="item", :selected="item === style.key")
						span.tb-02-m0
							//- label.tb-10-m0(style="font-size: 9px;pointer-events: none;", for="buckets") divisor
							//- v-model="style.buckets", 
							input.tb-10-m0(type="number", min="1", max="11", style="margin:0;", :value="style.buckets", @change="numberColorBucket(style.lid, $event)", @blur="numberColorBucket(style.lid, $event)")
			//- :style="{width: (mapCtrl ? '45px' : '13px'), width: (mapCtrl ? 'var(--thumbw)' : '13px')}", 
			div.legend(v-for="(style, k) in doc.properties.layers", v-if="style.lid === layer._id", 
				:class="!mapCtrl ? 'res' : 'ctrl' "
				)
				
				//- legend(style="font-size: 11px;", v-if="!mapCtrl") Color
				//- :style="{height: (!mapCtrl ? 'calc(var(--thumbw) / '+style.colors.length+' )' : 'calc(var(--thumbw) / '+style.colors.length+' )') }" 
				//- :style="{height: (mapCtrl ? 'calc(var(--thumbw) / '+style.colors.length+' )' : 'calc(var(--thumbw) / '+style.colors.length+' )') }"
				div(v-if="style.colors && style.colors.length > 0", v-for="(c,j) in style.colors", :class="!mapCtrl ? 'res' : 'ctrl'", 
				:style="{height: 'calc(45px / '+style.colors.length+')', height: 'calc(var(--thumbw) / '+style.colors.length+' )' }"
				)
					label(style="font-size: 7px;position:absolute;padding:2px;color:#fff;font-weight:heavier;", 
						:for="'color'+k+'_'+j", 
						v-text="(style.set[j]) + '–' + (!style.colors[j+1] ? style.max : style.set[j+1])")
					input(:id="'color'+k+'_'+j", type="color", :value="c", @change="changeColorBucket(k, j, $event)", style="pointer-events:all;", 
					:style="{height: 'calc(45px / '+style.colors.length+')', height: 'calc(var(--thumbw) / '+style.colors.length+' )' }"
					)

		//- div.slidedown(v-for="(style, k) in doc.properties.layers", v-if="style.lid === layer._id && mapCtrl")
		//- 	//- legend(style="font-size: 11px;") style
		//- 	label(style="font-size: 9px;margin-top:10px;", for="key") field
		//- 	select#key(@change="changeAttribute(layer._id, $event)", v-model="style.key" style="margin:0;")
		//- 		//v-if="(json[style.lid] && json[style.lid].features && !isNaN(parseInt(json[style.lid].features[0].properties[item],10)))"
		//- 		option(v-for="(item,l) in layer.properties.keys", v-text="item", :value="item", :selected="item === style.key")
		//- 	label(style="font-size: 9px;", for="buckets") divisor
		//- 	input(type="number", min="1", max="4", v-model="style.buckets", style="margin:0;", @change="numberColorBucket(style.lid, $event)")
		

	legend.block(style="font-size: 11px; margin-top:10px;", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0") more
	a.drop(style="display: flex;width:45px;width:var(--thumbw);", @click="subDropdown($event)", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0")
		.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;pointer-events:none;")
			img(src="/images/icons/add.svg", style="pointer-events: none;")
	
		span.tb-font-m(v-html="'Available layers'", style="width:auto; padding-right: 15px; padding-left: 8px;")

	div.slidedown
		a.drop(v-for="(alayer, p) in availablelayers", v-if="(doc.properties.layers.map(function(item){return item.lid}).indexOf(alayer._id) === -1)" style="display: flex;width:45px;width:var(--thumbw);")
			.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;")
				img(:src="(!alayer.properties.media[alayer.properties.media.length - 1] || !alayer.properties.media[alayer.properties.media.length - 1].thumb || alayer.properties.media[alayer.properties.media.length - 1].thumb === '' ? (!alayer.properties.media[0] ? '/images/publish_logo_sq.svg' : alayer.properties.media[0].thumb) : alayer.properties.media[alayer.properties.media.length - 1].thumb)+'?version='+Math.random()", style="pointer-events: none;")
			
			span.tb-font-m(v-text="alayer.properties.label", style="width:auto; padding-right: 15px; padding-left: 8px;")
			input(type="checkbox", :value="alayer._id", :id="'alayer_'+p", v-text="alayer.properties.label", style="position:absolute;", @click="changeLayers(alayer._id, $event)", :checked="(doc.properties.layers.map(function(item){return item.lid}).indexOf(alayer._id) !== -1)")
	//- legend(style="font-size: 11px;") census
	//- label(for="placetype", style="width: 45px;") Population Data
	//- select#placetype(style="pointer-events: all;", name="placetype",@change="changeCensusJurisdiction($event)")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!censusLoad.placetype")
	//- 	option(v-for="(pl, p) in placetypes", v-text="pl.name", :value="p")
	//- label(for="placetype", v-if="censusLoad.cats && censusLoad.cats.length") Data category
	//- select#place( v-if="censusLoad.cats && censusLoad.cats.length", style="pointer-events: all;", @change="changeCensusData($event)", v-model="censusLoad.cat")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!censusLoad.cat")
	//- 	option(v-if="censusLoad.cats.length", v-for="(cat, i) in censusLoad.cats", v-text="cat", :value="cat", :selected="censusLoad.cat === cat")

	//- select(@change="changeCensus($event)")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!boundary")
	//- 	option(v-for="(bound, r) in boundaries", v-text="bound.name", :value="bound.code")
	//- a.drop(v-for="(bound, r) in boundaries", style="display:flex;")
	//- 	.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
	//- 		img(src="/images/publish_logo_sq.svg", style="pointer-events:none;")
	//- 	span.tb-font-m(v-text="bound.name")
	//- 	input(type="checkbox", :value="bound.code", v-text="bound.name", style="position:absolute;", @click="changeCensus(bound.code, $event)")

	//- legend(style="font-size: 11px;") eviction
	//- a.drop(style="display:flex;", @click="getEvictionLab")
	//- 	.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
	//- 		img(src="/images/publish_logo_sq.svg")
	//- 	span.tb-font-m(v-text="'evictionlab'", style="width:auto; padding-right: 15px; padding-left: 8px;")

	
	legend(style="font-size: 11px;") base
	a.drop(style="display: flex;width:45px;width:var(--thumbw);")
		.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
			//- label(for="base_0", v-text="'streets'", style="font-size: 7px;line-height:7px;height:7px;pointer-events:none;position:absolute;background-color:var(--primary);") 
			img(src="/images/base_0.jpg", style="pointer-events: none;")
		span.tb-font-m(v-text="'streets'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="0", id="base_0", v-text="'Streets'", style="position:absolute;", @click="changeBase(0, $event)", :checked="base === 0")
	a.drop(style="display: flex;width:45px;width:var(--thumbw);")
		.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
			//- label(for="base_1", v-text="'satellite'", style="font-size: 7px;line-height:7px;height:7px;pointer-events:none;position:absolute;background-color:var(--primary);") 
			img(src="/images/base_1.jpg", style="pointer-events: none;margin:0;")
		span.tb-font-m(v-text="'Satellite'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="1", id="base_1", v-text="'Satellite'", style="position:absolute;", @click="changeBase(1, $event)", :checked="base === 1")
