fieldset.lcontrol(style="padding:0;border:none;", v-cloak)
	input(type="hidden", :value="JSON.stringify(doc.properties.layers)", name="layers[]")
	
	legend(style="font-size: 11px;") layers
	div(v-for="(layer, o) in layers")
		a.drop(style="display: flex;", @click="subDropdown($event)")
			.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;")

				img(:src="!layer.properties.media[layer.properties.media.length - 1] || !layer.properties.media[layer.properties.media.length - 1].thumb || layer.properties.media[layer.properties.media.length - 1].thumb === '' ? layer.properties.media[0].thumb : layer.properties.media[layer.properties.media.length - 1].thumb ", style="pointer-events: none;")
			
			span.tb-font-m(v-text="layer.properties.label", style="width:auto; padding-right: 15px; padding-left: 8px;")
			input(type="checkbox", :value="layer._id", :id="'layer_'+o", v-text="layer.properties.label", style="position:absolute;", @click="changeLayers(layer._id, $event)", :checked="(doc.properties.layers.map(function(item){return item.lid}).indexOf(layer._id) !== -1)")
		div.slidedown(v-for="(style, k) in doc.properties.layers", v-if="style.lid === layer._id")
			legend(style="font-size: 11px;") style
			select(@change="changeAttribute(layer._id, $event)")
				option(v-for="(item,l) in layer.properties.keys", v-text="item", :value="item", :selected="item === style.key")

			//- a.drop(v-for="(p, j) in Object.keys(style)")
			//- 
			//- 	.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;")
			//- 		img(src="/images/icons/add.svg", style="pointer-events: none;")
			//- 
			//- 	span.tb-font-m(v-text="p", style="width:auto; padding-right: 15px; padding-left: 8px;")
			//- 	input(type="radio", :value="p", :id="'attribute_'+p", v-text="p", style="position:absolute;", @click="", :checked="(style.key === p)")
		

	legend(style="font-size: 11px;", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0") Available layers
	a.drop(style="display: flex;", @click="subDropdown($event)", v-if="availablelayers && availablelayers !== '' && availablelayers.length > 0")
		.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;pointer-events:none;")
			img(src="/images/icons/add.svg", style="pointer-events: none;")
	
		span.tb-font-m(v-html="'Available layers'", style="width:auto; padding-right: 15px; padding-left: 8px;")

	div.slidedown
		a.drop(v-for="(alayer, p) in availablelayers", v-if="(doc.properties.layers.map(function(item){return item.lid}).indexOf(alayer._id) === -1)" style="display: flex;")
			.ui(style="min-width:45px;min-width:var(--thumbw);margin:0;")
				img(:src="!alayer.properties.media[alayer.properties.media.length - 1] || !alayer.properties.media[alayer.properties.media.length - 1].thumb || alayer.properties.media[alayer.properties.media.length - 1].thumb === '' ? alayer.properties.media[0].thumb : alayer.properties.media[alayer.properties.media.length - 1].thumb ", style="pointer-events: none;")
			
			span.tb-font-m(v-text="alayer.properties.label", style="width:auto; padding-right: 15px; padding-left: 8px;")
			input(type="checkbox", :value="alayer._id", :id="'alayer_'+p", v-text="alayer.properties.label", style="position:absolute;", @click="changeLayers(alayer._id, $event)", :checked="(doc.properties.layers.map(function(item){return item.lid}).indexOf(alayer._id) !== -1)")
	//- legend(style="font-size: 11px;") census
	//- label(for="placetype", style="width: 45px;") Population Data
	//- select#placetype(style="pointer-events: all;", name="placetype",@change="changeCensusJurisdiction($event)")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!censusLoad.placetype")
	//- 	option(v-for="(pl, p) in placetypes", v-text="pl.name", :value="p")
	//- label(for="placetype", v-if="censusLoad.cats && censusLoad.cats.length") Data category
	//- select#place( v-if="censusLoad.cats && censusLoad.cats.length", style="pointer-events: all;", @change="changeCensusData($event)", v-model="censusLoad.cat")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!censusLoad.cat")
	//- 	option(v-if="censusLoad.cats.length", v-for="(cat, i) in censusLoad.cats", v-text="cat", :value="cat", :selected="censusLoad.cat === cat")

	//- select(@change="changeCensus($event)")
	//- 	option(value="null", v-text="'None'", v-bind:selected="!boundary")
	//- 	option(v-for="(bound, r) in boundaries", v-text="bound.name", :value="bound.code")
	//- a.drop(v-for="(bound, r) in boundaries", style="display:flex;")
	//- 	.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
	//- 		img(src="/images/publish_logo_sq.svg", style="pointer-events:none;")
	//- 	span.tb-font-m(v-text="bound.name")
	//- 	input(type="checkbox", :value="bound.code", v-text="bound.name", style="position:absolute;", @click="changeCensus(bound.code, $event)")

	//- legend(style="font-size: 11px;") eviction
	//- a.drop(style="display:flex;", @click="getEvictionLab")
	//- 	.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
	//- 		img(src="/images/publish_logo_sq.svg")
	//- 	span.tb-font-m(v-text="'evictionlab'", style="width:auto; padding-right: 15px; padding-left: 8px;")

	
	legend(style="font-size: 11px;") base
	a.drop(style="display: flex;")
		.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
			//- label(for="base_0", v-text="'streets'", style="font-size: 7px;line-height:7px;height:7px;pointer-events:none;position:absolute;background-color:var(--primary);") 
			img(src="/images/base_0.jpg", style="pointer-events: none;")
		span.tb-font-m(v-text="'streets'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="0", id="base_0", v-text="'Streets'", style="position:absolute;", @click="changeBase(0, $event)", :checked="base === 0")
	a.drop(style="display: flex;")
		.ui(style="pointer-events: none;min-width:45px;min-width:var(--thumbw);margin:0;")
			//- label(for="base_1", v-text="'satellite'", style="font-size: 7px;line-height:7px;height:7px;pointer-events:none;position:absolute;background-color:var(--primary);") 
			img(src="/images/base_1.jpg", style="pointer-events: none;margin:0;")
		span.tb-font-m(v-text="'Satellite'", style="width:auto; padding-right: 15px; padding-left: 8px;")
		input(type="radio", value="1", id="base_1", v-text="'Satellite'", style="position:absolute;", @click="changeBase(1, $event)", :checked="base === 1")
