include mapedit.pug
div#viewer(style="position:absolute;pointer-events: none;")
	//- p(:style="{position:'absolute',left:(wWidth/2)+'px',padding:'calc(var(--thumbw) * 0.8) 0 0 calc(var(--thumbw) * 0.9)',width:'50vw','background-color':'var(--primary)','z-index':9999}", v-if="geo.length && viewerList", v-text="(geo.length)+' nearby:'")

	div.module.viewerlist(v-if="geo.length && viewerList", :style="{'pointer-events':'all',left: btn.x + 'px',bottom:(wHeight - btn.y) + 'px'}")
		include tooltip.pug
	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",
		v-bind:viewBox="'0 0 ' + wWidth +' '+ wHeight", v-bind:style="{'position': 'relative','enable-background':'new 0 0 ' + wWidth + ' ' + wHeight +'', 'display': 'block', 'margin': '0 auto', 'pointer-events':'none'}", xml:space="preserve"
		, 
		v-bind:width="wWidth +'px'",
		v-bind:height="wHeight+'px'",
		style="pointer-events: none;"
		)

		path(v-bind:style="{'pointer-events':'all'}", v-bind:d="dPath", fill="var(--primary)")
