div.menu.static
	div.dropdown.static
		a.submenu.drop.static(v-bind:href="'/'")
			span.tb-font-l(v-text="'Home'")
		a.submenu.drop.static(v-bind:href="'/api/importtxt'")
			span.tb-font-l(v-text="'Import Chapter'")
		if (menu === "map")
			a.submenu.drop.static(v-on:click="addMapBlob")
				span.tb-font-l(v-text="'Save Map'")
		if (menu === "publish")
			a.submenu.drop.static(v-bind:href="'/api/new/'+data[0].chapter.str")
				span.tb-font-l(v-text="'Add Section to Chapter '+data[0].chapter.ind+': '+data[0].chapter.str+''")
