div.menu.static
	div.dropdown.static(v-bind:href="'/'", style="float: left; left:26px; right:auto;")
		a.submenu.drop.static
			span Brigham City
	div.dropdown.static
		
		a.submenu.drop.static(v-bind:href="'/'")
			span.tb-font-l(v-text="'Home'")
		a.submenu.drop.static(v-bind:href="'/api/importtxt'")
			span.tb-font-l(v-text="'Import Chapter'")
		if (menu === "map")
			a.submenu.drop.static(v-on:click="addMapBlob")
				span.tb-font-l(v-text="'Save Map'")
		if (menu === "publish")
			a.submenu.drop.static(v-if="dat[0] !== undefined && dat[0][0] !== undefined", v-bind:href="'/api/new/'+encodeURIComponent(dat[0][0].chapter.str)")
				span.tb-font-l(v-text="'Add Section to Chapter '+dat[0][0].chapter.ind+'''")
		a.submenu.drop.static(v-bind:href="'/exportword'")
			span.tb-font-l(v-text="'Export Word file'")
