- var menus = [ 'static', '' ]

each mn, k in menus
	div.menu(class= mn)
		a.mainmenu(class= mn, title="Menu", style="pointer-events: auto;")
			
			svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="30.1px", height="25px", viewBox="0 0 30.1 28", style="enable-background:new 0 0 30.1 28; padding: 0 0 0 8px;", xml:space="preserve")
				path(style="fill:#000;", d="M1.103,4.464c-0.606,0-1.1-0.493-1.1-1.1v-2.3c0-0.606,0.493-1.1,1.1-1.1h27.893  c0.607,0,1.1,0.494,1.1,1.1v2.3c0,0.606-0.492,1.1-1.1,1.1H1.103z")
				path(style="fill:#000;", d="M1.103,16.464c-0.606,0-1.1-0.493-1.1-1.1v-2.3c0-0.606,0.493-1.101,1.1-1.101h27.893  c0.607,0,1.1,0.494,1.1,1.101v2.3c0,0.606-0.492,1.1-1.1,1.1H1.103z")
				path(style="fill:#000;", d="M1.103,27.962c-0.606,0-1.1-0.494-1.1-1.1v-2.301c0-0.605,0.493-1.1,1.1-1.1h27.893  c0.607,0,1.1,0.494,1.1,1.1v2.301c0,0.605-0.492,1.1-1.1,1.1H1.103z")


		if (mn === 'static')
			div.dropdown.static(style="float: left; left:6px; right:auto; display: flex;height:45px;")
				a.submenu.drop(href="/", class= mn, style="max-height:45px;")
					span Brigham City
		div.dropdown(class= mn)
			
			a.submenu.drop(class= mn, href="/")
				span.tb-font-s Home
			a.submenu.drop(class= mn, title="Import")
				span.tb-font-s Import
			div.slidedown(class= mn)
				//
				
				a.submenu.drop(class= mn, href="/importgdrive", title="Import Chapter from Google Drive")
					if (mn !== "static")
						if (menu !== "word")
							.ui(class= mn)
								include angle.pug
					span.tb-font-s Google Drive
				if (menu !== "word")
					div(style="padding-left: 10px;pointer-events:all;")
						if (mn !== "static")
							.ui(class= mn)
								include angle.pug
						
						span.tb-font-s MS Word
						input(class= mn, v-on:change="uploadDocx", type="file", value="Import Docx")

				a.submenu.drop(class= mn, href="/api/importtxt", title="Import Chapter as plain text")
					if (mn !== "static")
						if (menu !== "word")
							.ui(class= mn)
								include angle.pug
					span.tb-font-s Plain .txt
			if (menu === "publish")
				a.submenu.drop(class= mn, v-if="dat[0] !== undefined && dat[0][0] !== undefined", v-bind:href="'/api/coverimg/'+encodeURIComponent(dat[0][0].chapter.str)", v-bind:title="'Add Cover to Ch. '+dat[0][0].chapter.ind+''")
					span.tb-font-s(v-text="'Add Cover to Ch. '+dat[0][0].chapter.ind+''")

				a.submenu.drop(class= mn, v-if="dat[0] !== undefined && dat[0][0] !== undefined", v-bind:href="'/api/new/'+encodeURIComponent(dat[0][0].chapter.str)", v-bind:title="'Add Section to Ch. '+dat[0][0].chapter.ind+''")
					span.tb-font-s(v-text="'Add Section to Ch. '+dat[0][0].chapter.ind+''")

			if (menu === "map")
				a.submenu.drop(class= mn, v-on:click="addMapBlob")
					span.tb-font-s(v-text="'Save Map'")
			//
				a.submenu.drop(class= mn, v-bind:href="'/exportpdf'")
					span.tb-font-s(v-text="'Export PDF file'")
			
			a.submenu.drop(class= mn, title="Export")
				span.tb-font-s Export
			div.slidedown(class= mn)
				a.submenu.drop(class= mn, href="/exportword")
					if (mn !== "static")
						if (menu !== "word")
							.ui(class= mn)
								include angle.pug
					span.tb-font-s Download Word file
				
				a.submenu.drop(class= mn, href="/api/exportgdrivewhole")
					if (mn !== "static")
						if (menu !== "word")
							.ui(class= mn)
								include angle.pug
					span.tb-font-s Save to Google Drive
		

