div.centarall#modal(:style="{display: (!modal.msg ? 'none' : 'block')}")
	div.centerallwrap(style="overflow-y: hidden;")
		div.centerall
			p.tb-font-s(v-text="modal.msg")
			input(type="text", :id="modal.id", v-model="modal.zip")
			button(@click="submitZip($event)", v-text="'submit'")