div#viewerlist(style="position:absolute;pointer-events: none;")
	//- p(:style="{position:'absolute',left:(wWidth/2)+'px',padding:'calc(var(--thumbw) * 0.8) 0 0 calc(var(--thumbw) * 0.9)',width:'50vw','background-color':'var(--primary)','z-index':9999}", v-if="geo.length && viewerList", v-text="(geo.length)+' nearby:'")
	div.module.viewerlist(:style="{'pointer-events':'all',left: (btn.x + 'px'),bottom:(wHeight - btn.y) + 'px', 'transition-property': 'display', 'transition-duration': '1.5s', display: (!viewerList || geo.length === 0 ? 'none' : 'inline-block')}")

		include tooltip.pug
	svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px",
		:viewBox="'0 0 ' + wWidth +' '+ wHeight", :style="{'position': 'relative','enable-background':'new 0 0 ' + wWidth + ' ' + wHeight +'', 'display': 'block', 'margin': '0 auto', 'pointer-events':'none'}", xml:space="preserve"
		, 
		:width="wWidth +'px'",
		:height="wHeight+'px'",
		style="pointer-events: none;"
		)
		defs
			linearGradient#barGradient(gradientTransform="rotate(90)")
				stop(offset="20%" stop-color="var(--primary)")
				stop(offset="50%" stop-color="rgba(255,255,255,0)")
		path(:style="{'pointer-events':'all'}", :d="dPath", fill="url(#barGradient)")
