extends layout
block page
block content
	script(type="text/javascript", src="/scripts/adminfunctions.js")
	script(type="text/javascript", src="/scripts/basefunctions.js")
	script(type="text/javascript", src="/scripts/mapfunctions.js")

	div#vue
		include includes/menu.pug
		div.centerallwrap(style="pointer-events:auto;")
			div.maintitle.centerall
				div.slidercontainer(style="position:relative;height:auto;width:100%;")
					img#slider(style="width:100%;height:auto; transition-property: opacity; transition-duration:2s;margin-top:20px;position:absolute;z-index:1", :style="{opacity: sliderOpacity}", :src="'/images/slide_'+sliderIndex+'.jpg'")
					img(style="width:100%;height:auto;margin-top:20px;position:relative;z-index:0;", :src="'/images/slide_1.jpg'")
				
				div.chapter
					div.table(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry")
						div.cell(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
							
							div.header.row.tb-font-l
								span(v-text="'Table of Contents'", style="font-weight:200;")
				div.chapter(v-for="(data,n) in dat", :id="n", :key="n", xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/")
					
					div.section.headline.headrule.row(xmlns:aid="http://ns.adobe.com/AdobeInDesign/4.0/", xmlns:aid5="http://ns.adobe.com/AdobeInDesign/5.0/", style="display: table;margin-top: 15px; position:relative;")
						a.accordion.tb-01-m0(v-if="accordions[n]", style="pointer-events: none; line-height: 23px; display:table-cell;vertical-align:bottom;z-index:9;")
							div.ui(@click="accordion(n, null, $event)", style="width: 23px; padding-top:5px;pointer-events:all;margin-left:0;")
								//
								svg(
									style="pointer-events: none;"
									:style="(!accordions[n].length ? {transform: 'rotate(0deg)'} : {transform: 'rotate(180deg)'} )", 
									xmlns="http://www.w3.org/2000/svg", viewBox="0 0 448 512")
									path(d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z")
						div.table.tb-09-m0(aid:table="table", aid:trows="2" aid:tcols="2", aid5:tablestyle="entry", style="display: table;position:relative;pointer-events:none;")
							
							div.cell.tb-11-m0(aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
								a(:href="'/menu/'+data[0].properties.title.ind+'/'+null+''")
									div.header.row.tb-font-l
										span(v-text="data[0].properties.title.str")
					
							
							div.cell.tb-11-m0(v-if="accordions[n] && Array.isArray(accordions[n]) && accordions[n].length > 0", v-for="(doc, i) in data", aid:table="cell", aid:crows="1", aid:ccols="1", aid:cellstyle="head")
								a(:href="'/list/'+doc._id+'/null'")
									div.header.row.tb-font-m
										span(v-text="doc.properties.chapter.str")
										span.tb-font-s(v-text="' | '+doc.properties.label")
	
	
	include includes/vue/aggvue.pug