extends layout
block page
	- var menu = 'edit'
block content
	div#info.tb-font-m
		form.tb-10-m0.form(style="padding: 20px 0 20px 0;", enctype="multipart/form-data", method="POST", action="/api/editcontent/"+doc._id+"", name="editform")
			input(type="hidden", name="_csrf", value= csrfToken)
			//input(type="hidden", id="lat", name="lat", value= doc.geometry.coordinates[1])
			//input(type="hidden", id="lng", name="lng", value= doc.geometry.coordinates[0])

			//input(type="hidden", name="cat", value = doc.properties.cat)
			//input(type="hidden", name="datebegin", value= (moment().utc().format()))
			//input(type="hidden", name="price", value= null)
			label(for="title") Title
			input(type="text", name="title", id="title", value= doc.properties.title)
			label(for="description") Content
			textarea#layouttext(type="text", name="description") #{doc.properties.description}
			p
			div.row#appendmedia

				each item, i in doc.properties.media
					include includes/editmedia.pug

			div.row#appendcanvas

			p
			div.row
				div.tb-10-m0
					label(for="media") Add media / section
					a.block.spacer(role="button", v-on:click="addNewMedia('"+doc._id+"',"+doc.properties.media.length+")", title="Add a new entry")
						span Insert media
						//input.newmedia#media(type="file")
					hr
			div.tb-10-m0
				p
				div.row
					div.tb-10-m0
						label(for="published") Publish now?
						if (!doc.properties.published)
							input(style="width:23px;height:23px;", type="checkbox", name="published", id="published", value= false)
						else
							input(style="width:23px;height:23px;", type="checkbox", name="published", id="published", value= true, checked)
							
				div.row
					div.tb-05-m0
						a.block.spacer(role="button", id="submitme")
							span Submit
					div.tb-02-m0.tb-03-m1 
						a.block.spacer(role="button", href="/")
							span Cancel
					div.tb-03-m0.tb-02-m1
						a.block.spacer(role="button", id="deleteentry", style="background-color: #444147;")
							span(style="color: #777;") Delete Work