extends layout
block page
block content
	
	div#vue
		
		include includes/menu.pug
		div.centerallwrap
			div.maintitle.centerall(style="height: 100%;padding-top:100px")
				#info
				p#namecheck
					label.spacer(for="chaptername", v-text="'"+info+" '")
					input.block.spacer.tb-10-m0#chaptername(v-on:blur="checkChapterName()", required)
				p#importarea(style="display: none;")
					label.spacer(for="importtxt") Enter a new Chapter Name and then get the .txt file
					input.block.spacer#importtxt(v-on:change="importTxt", type="file", value="Import TXT")
