extends layout
block page
	- var menu = "publish"
block content
	script(type="text/javascript", src="/scripts/basefunctions.js")
	script(type="text/javascript", src="/scripts/mapfunctions.js")
	script(type="text/javascript", src="/scripts/adminfunctions.js")
	
	div#vue

		include includes/menu.pug

		div.centerallwrap(:style="{'pointer-events':(mapActive ? 'none' : 'auto')}")

			!= str
	#map
	include includes/vue/adminvue.pug