extends layout
block page
block content
	
	div#vue
		include includes/menu.pug
		div.centerallwrap
			
			!= str

		
			div#diff(v-if="diff", style="height:50vh;display: inline-block;position: relative;background-color: #fff;overflow-y: scroll;pointer-events: all;height: 50vh;")
				span(v-for="part in diff")
					span(v-if="part.added", v-html="getHTML('ins',part.value)", style="color: 'green';")
					span(v-if="part.removed", v-html="getHTML('del',part.value)", style="color: 'red';")
					span(v-else-if="part.value", v-html="getHTML('span',part.value)", style="color: 'grey';")
				//!= diff.dif
				//span(v-for="part in diff", v-html="part.value")