extends layout
block page
	- var menu = 'register'
block content
	
	.container
		div.module.full
			div.row(style="display: block; position: fixed; height: 100%;")
					
				div.centerallwrap
					div.centerall
						div.tb-10-m0.shift-00
								
							span.tb-font-xl Already Registered? 
							a(href="/login", role="button", ariaDescription="Log in")
								span Log in
							p &nbsp
							span.tb-font-xl Register

							form.row#form(enctype="multipart/form-data", method="POST", action="/register", style="margin-bottom: 50px")
								input(type="hidden", name="_csrf", value= csrfToken)

								label Username
								input(type="text", name="username", maxlength="40")
								label Email
								input(type="email", name="email")
								label Password
								input(type="password", name="password")
								p
								button(type="submit", ariaDescription="Register")
									span Register
							p.tb-font-xl Or authenticate with Google:
							a.tb-03-m0.block(href="/auth/google", title="Authenticate with Google")
							#info #{info}