extends layout
block page
	- var menu = 'register'
block content
	div#vue

		include includes/menu.pug
		.container
			div.module.full
				div.row(style="display: block; position: fixed; height: 100%;background-color:var(--primary); background-color: #fff;")
						
					div.centerallwrap(style="overflow-y: scroll; pointer-events: all;")
						div.centerall
							div.tb-10-m0.shift-00(style="padding-top:100px;")
									
								//
								span.tb-font-xl Already Registered? 
								a(href="/login", role="button", ariaDescription="Log in")
									span Log in
								p &nbsp
								p.tb-font-xl or connect using Slack:
								p &nbsp
								a.tb-font-xl(href="/auth/slack", ariaDescription="Sign in with Slack", style="display:inline-block;height:auto;")
									img(src="https://api.slack.com/img/sign_in_with_slack.png")
								p &nbsp
								span.tb-font-xl or Register manually:
								include includes/profile/puedit.pug
								//- form.row#form(enctype="multipart/form-data", method="POST", action="/register", style="margin-bottom: 50px")
								//- 	input(type="hidden", name="_csrf", value= csrfToken)
								//- 
								//- 	label Username
								//- 	input(type="text", name="username", maxlength="40")
								//- 	label Email
								//- 	input(type="email", name="email")
								//- 	label Password
								//- 	input(type="password", name="password")
								//- 	p
								//- 	button(type="submit", ariaDescription="Register")
								//- 		span Register
								//- //
								//- 	p.tb-font-xl Or 
								//- 	p.tb-font-xl authenticate with Google:
								//- 	a.tb-03-m0.block.danger(href="/auth/google", title="Authenticate with Google")
								//- 		span Google
								#info #{info}
	include includes/vue/basic.pug