extends layout
block page
	- var menu = 'map'
block content

	div#vue
		include includes/menu.pug
		svg(version="1.1", xmlns="http://www.w3.org/2000/svg" 
			v-if="!isNaN(wWidth)" xmlns:xlink="http://www.w3.org/1999/xlink" x="0"
			y="0" :width="(!wWidth ? 0:wWidth)" :height="(!wHeight ? 0:wHeight)" 
			:viewBox="'0 0 '+ wWidth +' '+ wHeight + ''" 
			style="position:absolute;" xml:space="preserve" 
			:style="{'enable-background':'new 0 0 '+ wWidth +' '+ wHeight}")
			defs
				clipPath(id="clipPath")
					path(v-if="btn && !isNaN(wWidth)" 
						:d="getClip()")

		div.centerallwrap(:style="{'pointer-events':(mapActive? 'none' : 'auto')}")

			!= str
