:root {
    --afontname: Overpass;
		--afonttype: sans-serif;
		--bfontname: Overpass;
		--bfonttype: sans-serif;
		--cfontname: Overpass;
		--cfonttype: sans-serif;
		--dfontname: Old Standard TT;
		--dfonttype: serif;
    --primary: #fbfdf0;
    --secondary: #222222;
    --tertiary: #113042;
    --quarternary: #124059;
    --quinary: #1f5575;
    --highlight: #36616c;
    --thumbw: 36px;
    --panelwper: 100%;
    --panelhper: 100%;
}

html {
	font-family: 'Overpass', sans-serif;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	padding: 0;
	/*@MikeRiethmuller*/
	font-size: calc(16px + 0.5vm);
	font-size: calc(16px + 0.5vmin);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	pointer-events: none;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 0;
	background-color: #fff;
	background-color: var(--primary);
}
/*#vue {
	pointer-events: all;
}*/
maintitle {
	pointer-events: all;
}
p {
	margin: 9px 0 0 0;
}

.img p {
	margin: 0 0 4px 0;
	/*padding-right: 30px;*/
	white-space: normal;
}

table {
	margin-bottom: 20px;
}

th {
	display: none;
}

ul {
	list-style-type: none;
}

blockquote, .blockquote {
	margin: 60px;
	padding-right: 2rem;
}
/*.blockquote p,
.blockquote h3,
blockquote
	&::before
	&::after
		font-family: var(--dfontname), var(--dfonttype)!important;
		font-size: 6rem;
	&::before
		position: absolute;
		content: '“';
		margin-top: -0.5rem;
		margin-left: -0.5rem;
	&::after
		position: relative;
		content: '”';
		bottom: -2rem;
		margin-right: -2rem;
		line-height: 0;
		float: right;*/

.blockquote p::before, .blockquote p::after, .blockquote h3::before, .blockquote h3::after, blockquote::before, blockquote::after {
	font-family: var(--dfontname), var(--dfonttype)!important;
	font-size: 6rem;
}

.blockquote p::before, .blockquote h3::before, blockquote::before {
	position: absolute;
	content: '“';
	margin-top: -0.5rem;
	margin-left: -0.5rem;
}
.blockquote p::after, .blockquote h3::after, blockquote::after {
	position: relative;
	content: '”';
	bottom: -4rem;
	margin-right: 0.5rem;
	line-height: 0;
	float: right;
}
.block {
	width: auto;
	left: 0;
	right: 0;
	display: block;
	text-align: center;
}

.sticky {
	position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
	position: sticky!important;
}

a {
	pointer-events: all;
	cursor: pointer;
}

a span, a img {
	pointer-events: none;
}
/*
	Typography
*/

*[class^='tb-font-'] { 
	letter-spacing: -0.015rem;
	font-family: "Barlow Condensed", sans-serif;
	font-family: var(--bfontname), var(--bfonttype)!important;
	color: #fff;
	color: var(--secondary);
}

.tb-font-xxs {
	font-family: var(--afontname), var(--afonttype)!important;
	color: #481368;
	color: var(--tertiary);
	font-size: 0.5rem;
	font-weight: 200;
	line-height: 0.7rem;
	padding: 8px 0 0 0;
	padding: calc(var(--thumbw) / 4) 0 0 0;
	letter-spacing: 0.04rem;
}

.tb-font-xs {
	font-family: var(--afontname), var(--afonttype)!important;
	color: #481368;
	color: var(--tertiary);
	font-size: 0.7rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
	line-height: 0.9rem;
	padding: 10px 0 0 0;
	padding: calc(var(--thumbw) / 4) 0 0 0;
	display: block;
}
.tb-font-s {
	font-family: var(--bfontname), var(--bfonttype)!important;
	color: #fff;
	color: var(--secondary);
	font-size: 0.9rem;
	font-weight: 200;
	line-height: 1.1rem;
	padding: 12px 0 0 0;
	padding: calc(var(--thumbw) / 2.8) 0 0 0;
	letter-spacing: 0.02rem;
	text-transform: none;
}

h5, .tb-font-m {
	font-family: var(--bfontname), var(--bfonttype)!important;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 1.4rem;
	padding: 18px 0 0 0;
	padding: calc(var(--thumbw) / 2.5) 0 0 0;
	color: #000;
	color: var(--secondary);
}

h4, .tb-font-l {
	font-family: var(--afontname), var(--afonttype)!important;
	color: #000;
	color: var(--secondary);
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.5rem;
	padding: 18px 0 0 0;
	padding: calc(var(--thumbw) / 3) 0 0 0;
}

h3, .tb-font-xl {
	font-family: var(--afontname), var(--afonttype)!important;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.8rem;
	padding: 24px 0 0 0;
	padding: calc(var(--thumbw) / 1.5) 0 0 0;
}

h2, .tb-font-xxl {
	font-family: var(--afontname), var(--afonttype)!important;
	font-size: 2rem;
	font-weight: 400;
	line-height: 2.2rem;
	padding: 45px 0 0 0;
	padding: var(--thumbw) 0 0 0;
}

h1, .tb-font-xxxl {
	font-family: var(--dfontname), var(--dfonttype)!important;
	font-size: 3rem;
	font-weight: 400;
	line-height: 3.1rem;
	padding: 45px 0 0 0;
	padding: var(--thumbw) 0 0 0;
	color: #9e1f63;
	color: var(--highlight);
}
.flavor, .tb-font-l em, .tb-font-xl em, .tb-font-xxl em, .tb-font-xxxl em, h1 em, h2 em, h3 em, h4 em {
	font-family: var(--cfontname), var(--cfonttype)!important;
	font-size: 130%;
	text-transform: none;
	margin: 0 10px 0 0;
}

.quoteframe p, .quoteframe h1, .quoteframe h2, .quoteframe h3, .quoteframe h4, .quoteframe h5 {
	margin: 0;
}
.it {
	font-style: italic;
}
.bd {
	font-weight: 600;
}
.ac {
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

i.fas {
	color: #990066;
	color: var(--quarternary);
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

i.fas:hover{
	color: #481368;
	color: var(--tertiary);
}

i.fas.active {
	color: #fff;
	color: var(--primary);
}

div.thumbnails {
	height: auto!important;
	white-space: nowrap;
	display:flex;
	flex-flow:nowrap;
	overflow-y: hidden;
	overflow-x: hidden;
	width: auto;
	-ms-transition: left 2s;
	transition: left 2s;
	-webkit-transition: left 2s;
	position: absolute!important;
}

breadcrumbs {
	bottom: 0;
	z-index: 999999999999;
	padding: 3px;
	width: 100%;
	background-color: var(--primary);
	text-align: right;
	float: right;
}
.breadcrumbs {
	color: #4e003a;
	color: var(--quinary);
	position: absolute;
	z-index: 2;
	top: 4px;
	left: calc(26px * 1.5);
	left: calc(var(--thumbw) * 1.5);
	font-size: 10px;
	letter-spacing: -0.03em;
	max-width: 180px;
	line-height: 12px;
}

.breadcrumbs a {
	color: #9e1f63;
	color: var(--highlight);
}

em {
	font-style: italic;
}

#map {
	width: auto;
	height: auto;
	z-index: -2;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
	position: fixed;
	margin: 0;
	float: none;
	pointer-events: all;
}



/*Static menu*/
.menu.static {
	min-height: auto;
	padding: 0;
	width: 100%;
	top: 20px;
	position: absolute;
	z-index: 9;
}

.mainmenu.static {
	display: none;
}
.dropdown.static {
	visibility: visible;
	left: 0;
	right: 0;
	min-height: 40px;
	padding-top: 0;
	position: static;
	background-color: rgba(255,255,255,0);
	max-height: 100%;
	position: fixed;
	-webkit-clip-path: none;
	clip-path: none;
	box-shadow: none;
	margin: 0 auto;
	justify-content: center;
	width: auto;
	left: auto;
	right: 33px;
}
.submenu.static {
	display: inline-block!important;
	margin: 0;
}

.submenu.static.active {
	background: rgba(255,255,255,0);
	border: 2px solid #fff;
	border: 2px solid var(--primary);
	box-sizing: border-box;
}
.submenu.static.active span {
	font-weight: 600;
}
.dropdown.static > .submenu {
	width: auto;
	padding: 0 20px;
	display: block;
}

.submenu.static > span {
	font-size: calc(45px / 2.5);
	font-size: calc(var(--thumbw) / 2.5);
	pointer-events: none;
	width: 100%;
}
.submenu.static > span, .submenu.static > .ui > .fas, .qty {
	color: #652c90;
	color: var(--quarternary);
	line-height: 72px;
	line-height: calc(var(--thumbw) * 1.5);
}
.submenu.drop.static > span, .submenu.drop.static > .ui > .fas, .qty {
	line-height: 45px;
	line-height: var(--thumbw);
	color: #000;
	color: var(--secondary);
}
.submenu.drop.static.active > span {
	
	color: #652c90;
	color: var(--quarternary);
}
.submenu.drop.static:hover > span {
	
	color: #000;
	color: var(--secondary);
}
.submenu.drop.static {
	line-height: 45px;
	line-height: var(--thumbw);
	height: 45px;
	height: var(--thumbw);
}
.dropdown.static > .submenu:last-child > span, .dropdown.static > .submenu:last-child > .ui > .fas {
	color: tomato;
}
.submenu.static:hover > span, .submenu.static:last-child:hover > span, .submenu.static:hover > .ui > .fas, .submenu.static:last-child:hover > .ui > .fas {
	color: #000!important;
	color: var(--secondary);
}
.slidedown.static {
	position: absolute;
	display: inline-block;
	background: rgba(255,255,255,0.95);
	width: auto;
	z-index: 3;
	top: 43px;
	margin: 0;
	min-height: 180px;
	max-height: calc(100% - 80px);
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-clip-path: polygon(0% 0%, 40% 0%, 100% 20%, 100% 100%, 0% 100%);
	clip-path: polygon(0% 0%, 40% 0%, 100% 20%, 100% 100%, 0% 100%);
	padding: 5px 0 10px 0;
	border: 2px solid rgba(255,255,255,1);
	max-width: 180px;
	/*transform: translate(-28%, 0%);*/
	margin-left: 107px;
}
.slidedown.static span {
	width: auto;
}
.slidedown.static .slidedown {
	position: relative;
	top: 0;
	margin-left: 0;
	min-height: inherit;
	max-height: inherit;
	box-shadow: 0px 0px 0px 0px #fff;
	background-color: #fff;
	background-color: var(--primary);
}
.slidedown.static .submenu.drop {
	padding: 0 0 0 10px;
	
}
.slidedown.static .submenu.drop span {
	color: #652c90;
	color: var(--quarternary);
}
.ui.static {
	width: 45px;
	max-width: 45px;
	min-width: 45px;
}
/**/
breadcrumbs, celll {
	pointer-events: none;
}
breadcrumbs a {
	pointer-events: all;
	z-index: 999;
}
.breadcrumbs {
	max-width: 500px;
}

.centerallwrap {
	display: inline-block;
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	/*pointer-events: all;*/
}

.centerall {
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 1;
	pointer-events: all;
	padding: 45px;
	min-height: 100%;
	position: relative;
	display: block;
}
.centerall section {
	width: 100%;
	cursor: pointer;
}
.centerall p {
	cursor: text;
}
.centerall form {
	cursor: default;
}
.centerall img {
	width: 100%;
	height: 100%;
	box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .2);
}

.row {
	width: 100%;
	left: 0;
	right: 0;
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

*[class^='tb-1'], *[class^='tb-0'] {
	padding-right: 10px;

	display: inline-block;
	margin: 0 auto;
	width: auto;
	height: auto;
	box-sizing: border-box;
	/*pointer-events: auto;*/
	/*background-color: #fff;
	background-color: var(--primary);*/
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: top;
} 

*[class^='tb-10-'] {
	/*left: 0;
	right: 0;*/
	width: 100%;
}
*[class^='tb-09-'] {
	/*left: 5%;
	right: 5%;*/
	width: 90%;
}
*[class^='tb-08-'] {
	/*left: 10%;
	right: 10%;*/
	width: 80%;
}
*[class^='tb-07-'] {
	/*left: 15%;
	right: 15%;*/
	width: 70%;
}
*[class^='tb-06-'] {
	/*left: 20%;
	right: 20%;*/
	width: 60%;
}
*[class^='tb-05-'] {
	/*left: 25%;
	right: 25%;*/
	width: 50%;
}
*[class^='tb-04-'] {
	/*left: 30%;
	right: 30%;*/
	width: 40%;
}
*[class^='tb-03-'] {
	/*left: 35%;
	right: 35%;*/
	width: 30%;
}
*[class^='tb-02-'] {
	/*left: 40%;
	right: 40%;*/
	width: 20%;
}
*[class^='tb-01-'] {
	/*left: 45%;
	right: 45%;*/
	width: 10%;
}

.shift-00 {
	left: 1%;
}

.shift-01 {
	left: 5%;
}

.shift-02 {
	left: 10%;
}

.shift-03 {
	left: 15%;
}

.shift-04 {
	left: 20%;
}

.shift-05 {
	left: 25%;
}

.leaflet-pane > svg path {
	cursor: pointer;
	pointer-events: auto;
	z-index: 99999999999999999999999999999999999999999;
}

.leaflet-top {
	top: 45px!important;
	top: var(--thumbw)!important;
}

.leaflet-left {
	left: 45px!important;
	left: var(--thumbw)!important;
}

.mce-panel {
	pointer-events: all!important;
}

div.img > img {
	position: relative;
	left: 25%;
	top: 0;
	height: auto;
	width: auto;
	-ms-transform: translate(-42%,-35%) scale(0.4);
	-webkit-transform: translate(-42%,-35%) scale(0.4);
	transform: translate(-42%,-35%) scale(0.4);
	color: #000;
	color: var(--secondary);
	pointer-events: auto;
}


div.img > img[data-orientation='portrait'] {
	-ms-transform: translate(-50%,-50%) scale(1);
	-webkit-transform: translate(-50%,-50%) scale(1);
	transform: translate(-50%,-50%) scale(1);
}

div.img {
	display: block;
	margin: 0 auto;
	float: left;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
	pointer-events: auto;
	background-color: #fcf8fa;
	background-color: var(--primary);
}

div.img.blog {
	height: auto;
	max-height: 100%;
	transition-property: height;
	transition-duration: 1s;
}
div.img.blog > img {
	background-image: radial-gradient(closest-side, #fff 8%, rgba(255, 255, 255, 0) 99%);
	background-image: radial-gradient(closest-side, var(--primary) 8%, rgba(255, 255, 255, 0) 99%);
	width: auto;
	min-height: 400px;
	min-height: calc(100% * 0.2);
	max-height: auto;
	min-width: 100%;
	max-width: auto;
	left: 0;
	top: 0;
	transform: translate(0%,0%) scale(1) !important; min-height: 400px; min-height: calc(100% * 0.2); max-height: auto; left:0; right:0;
	
}
div.img.blog ~.captions {
	display: inline-block;
	max-height: calc(100% - calc(var(--thumbw) * 2));
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
div.img.gradient {
	background: linear-gradient(to top, rgba(255,255,255,0.6), rgba(255,255,255,0) 50%, rgba(255,255,255,0) 80%, rgba(255,255,255,0.6) 100%);
	position: absolute;
	display: inline-block;
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

div.img *[class^='tb-font-'], div.img hr {
	color: #fff;
	color: var(--primary);
}
div.img hr {
	border-top: 1px solid #fff;
	border-top: 1px solid var(--primary);
}

span.img {
	position: relative;
	width: 100%;
	height: 100%;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	display: inline-block;
}

span.img > img {
	
	position: absolute;
	height: 100%;
	width: auto;
}
.flexcontainr {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	min-height: auto;
	/*height: 100%;*/
}
.flexcontainr > img {
	flex:1;
}
div.flexcontainl {
	
}
.flexcontainc {
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display: flex;
	justify-content:center;
	flex-direction: column;
	height: 100%;
}
.imginner {
	flex: none!important; width:100%;height: auto;
}

a.img {
	display: inline-block;
	margin: 4px;
	position: relative;
	overflow: hidden;
	width: 100%;
  min-width: calc(45px * 3);
  min-height: calc(45px * 3);
}

a.img img {
	position: absolute;
	width: auto;
	min-width: 100%;
	height: auto;
	min-height: 200%;
	left: 50%;
	top: 50%;
  height: auto;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


/*
	form elements
*/
form {
	overflow-x: hidden;
	overflow-y: scroll;
	pointer-events: auto;
}
form label {
	color: #888;
	font-size: 13px;
}

textarea {
	min-height: 150px;
	font-family: 'Overpass', sans-serif;
	font-family: var(--afontname), calc(var(--afonttype))!important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], textarea, datalist, select {
	line-height: normal;
	background-color: #fff;
	background-color: var(--primary);
	color: #000;
	color: var(--secondary);
	border: none;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 0;
	outline: none;
	height: 1.5rem;
	width: 100%;
	font-size: 1rem;
	margin: 12px 0 20px 0;
	padding: 0;
	-webkit-box-shadow: none;
					box-shadow: none;
	-webkit-box-sizing: content-box;
					box-sizing: content-box;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	pointer-events: all;
}

#description {
	background-color: rgba(255,255,255,0);
	
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, textarea:focus, datalist:focus, select:focus {
	background-color: #fff;
}

input#media {
	color: rgba(255,255,255,0);
}

option {
	padding: 10px;
}

button, a[role="button"], input[type="submit"] {
	border: 0;
	font-style: normal;
	font-size: inherit;
	text-transform: inherit;
	background: none;
	cursor: pointer;
	background-color: #000;
	background-color: var(--secondary);
	padding: 10px;
	color: #fff;
	color: var(--primary);
}
button:hover, a[role="button"]:hover, input[type="submit"]:hover{
	background-color: #9e1f63;
	background-color: var(--highlight);
}
button span, a[role="button"] span {
	color: #fff;
	color: var(--primary);
}
input[type="file"]::-webkit-file-upload-button {
	border: 0;
	font-style: normal;
	font-size: inherit;
	text-transform: inherit;
	background: none;
	cursor: pointer;
	background-color: #9e1f63;
	background-color: var(--highlight);
	padding: 10px;
	color: #fff;
	color: var(--primary);
}
input[type="file"]::-webkit-file-upload-button span {
	color: #fff;
	color: var(--primary);
}

input.toggle {
	background-color: /*var(--highlight)*/rgba(255,255,255,0);
	margin: 5px;
}

input.featured {
	background-image: url('/images/star.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #555;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #555;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #555;
}
:-moz-placeholder { /* Firefox 18- */
  color: #555;
}

#layouttext {
	height: 300px;
}

a {
	pointer-events: auto;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
a.success:hover, a.success:hover span, button.success:hover span {
	color: #fff!important;
	
}
a.success:hover, a.success:hover, button.success:hover {
	background-color: var(--quinary)!important;
	
}
a:hover header {
	color: #555!important;
	color: var(--quarternary)!important
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	padding: calc(45px / 8);
	padding: calc(var(--thumbw) / 8)!important;
}


.spacer {
	margin-top: 20px;
}
hr {
	height: 0;
	border-top: 1px solid #c8c8c8;
	border-top: 1px solid var(--tertiary);
	border-left: 0;
	border-right: 0;
	border-bottom: 0
}

.hideoverlap {
	white-space: nowrap;
}	

.headrule {
	border-top: 1px solid rgb(242,242,242);
	padding: 5px 0 8px 0;
}
section:hover {
	background-color: #FDFEF7;
}
.tb-11-m0 {
	width: 100%;
	margin-right: 0;
	padding-right: 0!important;
}

.tb-10-m0 {
	width: 100%;
}
.tb-09-m0 {
	width: 90%;
}
.tb-08-m0 {
	width: 80%;
}
.tb-07-m0 {
	width: 70%;
}
.tb-06-m0 {
	width: 60%;
}
.tb-05-m0 {
	width: 50%;
}
.tb-04-m0 {
	width: 40%;
}
.tb-03-m0 {
	width: 30%;
}
.tb-02-m0 {
	width: 20%;
}
.tb-01-m0 {
	width: 10%;
}

*[class^='tb-1'] > img, 
*[class^='tb-0'] > img   {
	margin: 20px 4px 0 10px;
}

*[class^='tb-1'] > .block, 
*[class^='tb-0'] > .block, 
*[class^='tb-1'] > button, 
*[class^='tb-0'] > button {
	margin: 18px 10px 10px 10px;
}

*[class^='tb-1'] > input, 
*[class^='tb-0'] > input, 
*[class^='tb-1'] > label, 
*[class^='tb-0'] > label, 
*[class^='tb-1'] > textarea, 
*[class^='tb-0'] > textarea, 
*[class^='tb-1'] > select, 
*[class^='tb-0'] > select, 
*[class^='tb-1'] > p, 
*[class^='tb-0'] > p {
	margin: 10px auto;
}

.ffa1 {
  font-family: 'Cormorant', serif;
}

.ffa2 {
	font-family: 'Comfortaa', cursive;
}

.ffb1 {
	font-family: 'Cinzel Decorative', cursive;
}

.ffc1 {
	font-family: 'Simonetta', cursive;
}

.ffc2 {
	font-family: 'Dancing Script', cursive;
}

.ffe {
}

maintitle {
	display: block; 
	background-color: #fff; 
	background-color: var(--primary);
	padding: 45px; 
	pointer-events: auto;
	min-height: auto!important;
}
rss {
	text-align:right; 
	float:right;
}
table {
	table-layout: fixed;
}
celll {
	z-index: 99999;
}
ins {
	color: green!important;
}
del {
	color: red!important;
}
#diff {
	/*position: fixed;
	z-index: 999;
	height: 100vh; width:50vw; right:0;display: inline-block; position: absolute; background-color: rgb(255, 255, 255); overflow-y: scroll; pointer-events: all;*/
}

.danger {
	background-color: rgba(255,255,255,0)!important;
	border: 2px solid tomato!important;
}
.danger span {
	color: tomato!important;
}
.success {
	background-color: teal!important;
	background-color: var(--highlight)!important;
}

@media (max-width: 400px) {
	
		
}
@media (min-width: 401px) {
	
	.tb-10-m1 {
		width: 100%;
	}
	.tb-09-m1 {
		width: 90%;
	}
	.tb-08-m1 {
		width: 80%;
	}
	.tb-07-m1 {
		width: 70%;
	}
	.tb-06-m1 {
		width: 60%;
	}
	.tb-05-m1 {
		width: 50%;
	}
	.tb-04-m1 {
		width: 40%;
	}
	.tb-03-m1 {
		width: 30%;
	}
	.tb-02-m1 {
		width: 20%;
	}
	.tb-01-m1 {
		width: 10%;
	}
}

@media (min-width: 600px) {
	#publish_logo {
		bottom: 10px;
	}
	#publish_logo {
		right: 23px;
	}
	div.img > img {
		
		-ms-transform: translate(-50%,-45%) scale(0.55);
		-webkit-transform: translate(-50%,-45%) scale(0.55);
		transform: translate(-50%,-45%) scale(0.55);
		left: 50%;
		top: 50%;
	}

	div.img > img[data-orientation='portrait'] {
		-ms-transform: translate(-50%,-50%) scale(1);
		-webkit-transform: translate(-50%,-50%) scale(1);
		transform: translate(-50%,-50%) scale(1);
		left: 50%;
		top: 50%;
	}
	.tb-10-m2 {
		width: 100%;
	}
	.tb-09-m2 {
		width: 90%;
	}
	.tb-08-m2 {
		width: 80%;
	}
	.tb-07-m2 {
		width: 70%;
	}
	.tb-06-m2 {
		width: 60%;
	}
	.tb-05-m2 {
		width: 50%;
	}
	.tb-04-m2 {
		width: 40%;
	}
	.tb-03-m2 {
		width: 30%;
	}
	.tb-02-m2 {
		width: 20%;
	}
	.tb-01-m2 {
		width: 10%;
	}
}

@media (min-width: 800px) {
	/*div.img.blog img { 
		min-height: 600px;
	}*/
	.tb-10-m3 {
		width: 100%;
	}
	.tb-09-m3 {
		width: 90%;
	}
	.tb-08-m3 {
		width: 80%;
	}
	.tb-07-m3 {
		width: 70%;
	}
	.tb-06-m3 {
		width: 60%;
	}
	.tb-05-m3 {
		width: 50%;
	}
	.tb-04-m3 {
		width: 40%;
	}
	.tb-03-m3 {
		width: 30%;
	}
	.tb-02-m3 {
		width: 20%;
	}
	.tb-01-m3 {
		width: 10%;
	}
}

@media (min-width: 1000px) {
	/*div.img.blog img { 
		min-height: 700px;
	}*/
	.tb-10-m4 {
		width: 100%;
	}
	.tb-09-m4 {
		width: 90%;
	}
	.tb-08-m4 {
		width: 80%;
	}
	.tb-07-m4 {
		width: 70%;
	}
	.tb-06-m4 {
		width: 60%;
	}
	.tb-05-m4 {
		width: 50%;
	}
	.tb-04-m4 {
		width: 40%;
	}
	.tb-03-m4 {
		width: 30%;
	}
	.tb-02-m4 {
		width: 20%;
	}
	.tb-01-m4 {
		width: 10%;
	}
}