doctype strict
html(xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:w='urn:schemas-microsoft-com:office:word', xmlns='http://www.w3.org/TR/REC-html40')
	head
		style.
			p.MsoFooter { margin:0in; margin-bottom:.0001pt; mso-pagination:widow-orphan; tab-stops:center 3.0in right 6.0in; font-size:8.0pt;}
	body
		div#h1(style="mso-element:header;")
			p(class="MsoHeader") Header
		
		div(id="f1", style="mso-element:footer")
			p.tb-font-xs.MsoFooter
				table(width="100%", border="0", cellspacing="0", cellpadding="0")
					tr
						td(width="80%")
							
						td(align="right", width="20%")
							<!--[if supportFields]>
							span.MsoPageNumber
								span(style='mso-element:field-begin')
								span(style='mso-spacerun:yes') 
								| PAGE
								span(style='mso-element:field-separator')
							<![endif]-->
							span.MsoPageNumber
								span(style='mso-no-proof:yes')
							<!--[if supportFields]>
							span.MsoPageNumber
								span(style='mso-element:field-end')
							<![endif]-->

