doctype strict
html(xmlns:o='urn:schemas-microsoft-com:office:office', xmlns:w='urn:schemas-microsoft-com:office:word', xmlns='http://www.w3.org/TR/REC-html40')
	head
		style.
			p.MsoFooter { margin:0in; margin-bottom:.0001pt; mso-pagination:widow-orphan; tab-stops:center 3.0in right 6.0in; font-size:8.0pt;}
	body
		div#h1(style="mso-element:header;")
			p(class="MsoHeader") Header
		div#f1(style="mso-element:footer")
			p.MsoFooter
				table(width="100%", border="0", cellspacing="0", cellpadding="0")
					tr
						td(width="80%")
							
						td(align="right", width="20%")
							
							span(class="MsoPageNumber", style="mso-tab-count:2")
								
								span(style='mso-field-code: "" PAGE "" ')
									span(style='mso-no-proof:yes')