script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				file: null
			}
		},
		mounted(){
			
		},
		methods: {
			handleGmapsFile(id, e) {
				var self = this;
				self.file = e.target.files[0];
				var formData = new FormData();
				formData.append('csv', self.file);
				$.ajax({
					url: '/loadgmaps/'+id+'',
					method: 'POST',
					data: formData,
					processData: false,
					contentType: false
					
				}).done((result) => {
					console.log(result)
					
				}).fail(function (xhr, status) {
					console.log(xhr, status)
					alert(status);
				})
			},
		}
	})
